* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: montserrat, sans-serif;
  background-color: #000;
}

h1 {
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(225, 225, 255);
  text-align:center;
}

.container {
  width: 100vw;
  height: 80vh;
  display: grid;
  row-gap: 10%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  grid-column: 1fr 1fr;
  justify-content:center;
  justify-items: center;
  align-items:start;
  pointer-events: all;
  margin-top: 15%;
  margin-bottom: 15%;
}

.btn{
  display: block;
  background-color:blue;
  color: rgb(225, 225, 255);
  font-family: inherit;
  font-size: 3rem;
  font-weight: 800;
  border-width: 5px;
  border-radius: 2.5rem;
  border-color:orange;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  touch-action:manipulation;
  align-self:start;
}
